/* Reset */
table, td, div {
  box-sizing: border-box; }

html,
body {
  width: 100% !important;
  min-width: 100%;
  Margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.email_body td, .email_body div, .email_body a, .email_body span {
  line-height: inherit; }

a,
a:visited,
a span {
  text-decoration: none; }

#outlook a {
  padding: 0; }

img {
  outline: none;
  border: 0;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  clear: both;
  line-height: 100%; }

table {
  border-spacing: 0;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt; }

td {
  vertical-align: top; }

/* Grid */
.email_table,
.content_section,
.column,
.column_cell {
  width: 100%;
  min-width: 100%; }

.email_body {
  font-size: 0 !important;
  line-height: 100%;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px; }

.email_start {
  padding-top: 32px; }

.email_end {
  padding-bottom: 32px; }

.email_body,
html,
body {
  background-color: #d8dde4; }

.email_container,
.email_row,
.col_0,
.col_1,
.col_2,
.col_3,
.col_4,
.col_5,
.col_6,
.col_2_lg {
  font-size: 0;
  display: inline-block;
  width: 100%;
  min-width: 100%;
  min-width: 0 !important;
  vertical-align: top; }

.content_cell {
  width: 100%;
  min-width: 100%;
  min-width: 0 !important; }

.column_cell {
  padding-top: 16px;
  padding-bottom: 16px;
  vertical-align: top; }

.email_container {
  max-width: 632px;
  Margin: 0 auto;
  text-align: center; }

.email_row {
  display: block;
  max-width: 600px !important;
  Margin: 0 auto;
  text-align: center;
  clear: both; }

.col_0 {
  max-width: 50px; }

.col_1 {
  max-width: 100px; }

.col_2 {
  max-width: 200px; }

.col_3 {
  max-width: 300px; }

.col_4 {
  max-width: 400px; }

.col_5 {
  max-width: 500px; }

.col_6 {
  max-width: 600px; }

.col_2_lg {
  max-width: 400px; }

.col_center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.email_body a,
.email_body a span {
  text-decoration: none;
  color: #37333A; }

.email_body a.td,
.email_body a.td span {
  color: #888888; }

.column_cell,
.column_cell td,
.xlabel_c,
p {
  font-family: Helvetica, Arial, sans-serif; }

.email_body .column_cell,
.column_cell,
.min_table td,
.xlabel_c,
p {
  font-size: 16px;
  line-height: 23px;
  color: #888888;
  mso-line-height-rule: exactly; }

p {
  display: block;
  Margin-top: 0;
  Margin-bottom: 16px; }
  p small {
    font-size: 14px; }
  p.lead {
    font-size: 19px;
    line-height: 27px;
    color: #a9b3ba; }

.small {
  font-size: 14px;
  line-height: 20px; }

h1, h2, h3, h4, h5, h6 {
  color: #383d42;
  Margin-left: 0;
  Margin-right: 0;
  Margin-top: 20px;
  Margin-bottom: 8px;
  padding: 0;
  font-weight: bold; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a span, h2 a span, h3 a span, h4 a span, h5 a span, h6 a span {
  color: #383d42; }

h1 {
  font-size: 32px;
  line-height: 42px; }

h2 {
  font-size: 26px;
  line-height: 36px; }

h3 {
  font-size: 23px;
  line-height: 30px; }

h4 {
  font-size: 19px;
  line-height: 25px; }

h5 {
  font-size: 16px;
  line-height: 21px; }

h6 {
  font-size: 13px;
  line-height: 20px; }

.footer_c .column_cell,
.footer_c p {
  color: #a9b3ba; }

.footer_c a,
.footer_c a span {
  color: #a9b3ba;
  text-decoration: underline; }

.content_cell,
.bank_cell {
  width: 100%;
  font-size: 0;
  text-align: center;
  vertical-align: top;
  padding-left: 16px;
  padding-right: 16px; }

.content_cell {
  background-color: #ffffff; }

.hdr_menu {
  text-align: right; }
  .hdr_menu p {
    line-height: 100%; }

.email_body .logo_c {
  line-height: 100%; }

.logo_c img {
  max-width: 168px;
  height: auto !important; }

.email_body .fsocial {
  line-height: 100%;
  color: #a9b3ba; }

.fsocial img {
  max-width: 24px;
  height: auto !important; }

.ncard_c {
  color: #888888;
  overflow: hidden; }

.content_cell .sc,
.sc td,
.sc {
  color: #ffffff; }

.sc h1,
.sc h2,
.sc h3,
.sc h4,
.sc h5,
.sc h6,
.sc p,
.sc a,
.sc a span {
  color: #ffffff; }

.hr_rl,
.hr_ep {
  font-size: 0;
  line-height: 1px;
  mso-line-height-rule: exactly;
  min-height: 1px;
  overflow: hidden;
  height: 2px;
  background-color: transparent !important; }

.default_b {
  background-color: #3f7ed2; }

.active_b {
  background-color: #37333A; }

.success_b {
  background-color: #37333A; }

.danger_b {
  background-color: #d46377; }

.warning_b {
  background-color: #edb476; }

.light_b {
  background-color: #f2f2f5; }

.imgr {
  clear: both;
  font-size: 0;
  line-height: 100%; }
  .imgr a,
  .imgr a span {
    line-height: 1; }

.imgr img {
  width: 100% !important;
  max-width: 568px;
  height: auto !important; }

.imgr24 img {
  max-width: 24px; }

.imgr44 img {
  max-width: 44px; }

.imgr68 img {
  max-width: 68px; }

.imgr96 img {
  max-width: 96px; }

.imgr168 img {
  max-width: 168px; }

.imgr268 img {
  max-width: 268px; }

.imgr632 img {
  max-width: 632px; }

.ebtn,
.ebtn_xs,
.ic_h {
  display: table;
  margin-left: auto;
  margin-right: auto; }

.ebtn td,
.ebtn_xs td {
  line-height: 20px;
  mso-line-height-rule: exactly;
  border-radius: 4px;
  text-align: center;
  font-weight: bold; }
  .ebtn td a,
  .ebtn td a span,
  .ebtn_xs td a,
  .ebtn_xs td a span {
    color: #ffffff; }

.ebtn td {
  font-size: 17px;
  padding: 13px 22px; }

.ebtn_xs td {
  border-radius: 4px;
  font-size: 14px;
  padding: 8px 16px; }

.ic_h {
  width: 64px; }
  .ic_h img {
    max-width: 32px;
    width: 32px;
    height: 32px;
    display: block;
    line-height: 100%; }
  .ic_h a {
    line-height: 100%; }
  .ic_h td {
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    mso-line-height-rule: exactly;
    padding: 16px;
    border-radius: 80px; }

.email_summary {
  display: none;
  font-size: 1px;
  line-height: 1px;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden; }

p.small {
  display: block; }

.brt {
  border-radius: 4px 4px 0 0; }

.brb {
  border-radius: 0 0 4px 4px; }

.bra {
  border-radius: 4px; }

.braf {
  border-radius: 200px; }

.brl {
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px; }

.brr {
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0; }

.ncard_c {
  border-radius: 4px; }

.tp,
table .tp {
  color: #37333A; }

.ts,
table .ts {
  color: #37333A; }

.tde,
table .tde {
  color: #d46377; }

.tm,
table .tm,
a.tm,
a.tm span {
  color: #a9b3ba; }

.td,
table .td {
  color: #888888; }

.tc {
  text-align: center; }

.tc .imgr img {
  margin-left: auto;
  margin-right: auto; }

.tl {
  text-align: left; }

table.tl {
  margin-left: 0;
  margin-right: auto; }

.tr {
  text-align: right; }

table.tr {
  margin-left: auto;
  margin-right: 0; }

.nw,
table .nw {
  white-space: nowrap; }

.py {
  padding-top: 16px;
  padding-bottom: 16px; }

.px {
  padding-left: 16px;
  padding-right: 16px; }

.pt {
  padding-top: 16px; }

.pt_0 {
  padding-top: 0; }

.pt_xs {
  padding-top: 8px; }

.pte {
  padding-top: 32px; }

.pt_card {
  padding-top: 96px; }

.pb {
  padding-bottom: 16px; }

.pb_0 {
  padding-bottom: 0; }

.pb_xs {
  padding-bottom: 8px; }

.pbe {
  padding-bottom: 32px; }

.xlabel .pl_0,
.pl_0 {
  padding-left: 0; }

.pl {
  padding-left: 16px; }

.ple {
  padding-left: 32px; }

.xlabel .pr_0,
.pr_0 {
  padding-right: 0; }

.pr {
  padding-right: 16px; }

.pre {
  padding-right: 32px; }

.pte_lg {
  padding-top: 64px; }

.mt_0 {
  margin-top: 0; }

.mt_xs {
  margin-top: 8px; }

.mt {
  margin-top: 16px; }

.mte {
  margin-top: 32px; }

.mb_0 {
  margin-bottom: 0; }

.mb_xs {
  margin-bottom: 8px; }

.mb_xxs {
  margin-bottom: 4px; }

.mb {
  margin-bottom: 16px; }

.mbe {
  margin-bottom: 32px; }

.bt {
  border-top: 1px solid #d8dde4; }

.bb {
  border-bottom: 1px solid #d8dde4; }

.btw,
.bt.btw,
.bbw.btw {
  border-color: #ffffff; }

.clear {
  content: ' ';
  display: block;
  clear: both;
  height: 1px;
  overflow: hidden;
  font-size: 0; }

@media only screen {
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
  .column_cell,
  .column_cell td,
  .xlabel_c,
  p {
    font-family: "Roboto", sans-serif !important;
    font-weight: 400; }
  strong, b, h1, h2, h3, h4, h5 {
    font-weight: 700; }
  a {
    display: inline-block; }
  .ebtn td,
  .ebtn_xs td {
    padding: 0 !important;
    -webkit-transition: box-shadow 0.25s;
    -moz-transition: box-shadow 0.25s;
    -ms-transition: box-shadow 0.25s;
    -o-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s; }
  .ebtn a,
  .ebtn a span,
  .ebtn_xs a,
  .ebtn_xs a span {
    display: block !important;
    text-align: center !important;
    vertical-align: top !important;
    line-height: inherit !important; }
  .ebtn a {
    padding: 10px 22px !important;
    line-height: 26px !important;
    font-weight: 700 !important; }
  .ebtn_xs a {
    padding: 5px 16px !important;
    line-height: 26px !important;
    font-weight: 400 !important; } }

@media (max-width: 697px) {
  .email_body.email_start {
    padding-top: 16px !important; }
  .email_body.email_end {
    padding-bottom: 16px !important; }
  .email_holder,
  .email_container,
  .col_1,
  .col_2,
  .col_3,
  .col_4,
  .col_5,
  .col_6,
  .col_2_lg {
    width: 100% !important;
    max-width: none !important; }
  .hdr_menu {
    text-align: left !important;
    padding-top: 12px !important; }
  .hdr_menu .ebtn,
  .hdr_menu .ebtn_xs {
    margin-right: auto !important;
    margin-left: 0 !important; }
  .pte_lg,
  .py.pte_lg {
    padding-top: 32px !important; }
  .pte_xs,
  .py.pte_xs {
    padding-top: 8px !important; }
  .pbe_xs,
  .py.pbe_xs {
    padding-bottom: 8px !important; }
  .ord_cell,
  .invoice_qty,
  .invoice_price {
    text-align: left !important; }
  .ord_cell {
    padding-top: 8px !important; }
  .hide {
    max-height: 0 !important;
    display: none !important;
    mso-hide: all !important;
    overflow: hidden !important;
    font-size: 0 !important; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  body {
    min-height: 1024px !important; } }

